* {
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    font-family: 'Kumbh Sans', sans-serif;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: bold;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
    font-weight: bold;
}

h1, h2, h3 {
    color: #FFB570;
}

header {
    position: center;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background: #EDEDED;
    padding: 15px;
}

#header__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to right, #fdc830 0%, #f37335 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 20px;
}

header .links {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 75%;
} 

header li {
    margin: 0 30px;
}

header a {
    font-size: 18px;
    color: #000000;
}

header a:hover {
    text-decoration: underline 2px solid black;
}
